<div>
	<h1>Info!</h1>

	<ol>
	 <li>Приложение написано на Angular 4+</li>
	 <li>Реализовано добавление, редактирование, удаление событий</li>
	 <li>Загрузка начальных событий с сервера (с сервиса .ts)</li>
	 <li>Релизовано сохранение данных в LocalStorage</li>
	 <li>Реализован поиск по событиям</li>
	 <li>Реализован раздел прав пользователей (у каждого пользователя отдельная страница)</li>
	</ol>

	<ul>
	 <li>Приложение: Task Manager v 0.1 beta</li>
	 <li>Разработчик: Юдин Павел</li>
	 <li>Gmail: pavelyudin297@gmail.com</li>
	 <li><br><br>(ЧТОБЫ ВЕРНУТЬСЯ НАЖИМТЕ НА ИКОНКУ ПРИЛОЖЕНИЯ)</li>
	</ul>


</div>